@model Albums.Models.Album

@{
    Layout = "~/Views/_header.cshtml";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-4">

            <div class="thumbnail">

                    <img src="@Html.DisplayFor(Model => Model.AlbumLogo)" class="img-responsive">
                    <div class="caption">
                        <span class="label label-default">@Html.DisplayFor(Model => Model.Genre.GenreName)</span>
                        <h2>@Html.DisplayFor(Model => Model.AlbumTitle)</h2>
                        <h4>@Html.DisplayFor(Model => Model.AlbumArtistName)</h4>
                    </div>
            </div>
        </div>

        <div class="col-md-8">

            <div style="margin-bottom: 15px">
                <a href="@Url.Action("Index", "Songs")" class="btn btn-md btn-primary">View All</a>
                <a href="@Url.Action("Create", "Songs")">Add New Song</a>
            </div>

            <div class="panel panel-default">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Songs)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.SongTitle)</td>
                                <td>
                                    <!-- EDIT/UPDATE -->
                                    @Html.ActionLink("Edit", "Edit", "Songs", new { id = item.SongId }, new { @class = "btn btn-md btn-primary" })

                                    <!-- DELETE -->
                                    @Html.ActionLink("Delete", "Delete", "Songs", new { id = item.SongId }, new { @class = "btn btn-md btn-danger" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>



